body {
    box-sizing: border-box;
    background-image: url("welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Bangers", cursive;
    letter-spacing: 2px;
    margin: 0;
    box-shadow: inset 0 0 0 100vh rgba(255, 0, 0, 0.233);
}


.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 250px;
    margin: 0 0 80px 0;
    text-shadow: -2px 2px 0 white, 2px -2px 0 white, 2px 2px 0 white,
        -2px -2px 0 white;
}

.welcome span {
    font-size: 80px;
    color: white;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
        -2px -2px 0 black;
    margin: -30px;
}

.regForm {
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
        -1px -1px 0 black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
}

.regForm h1 {
    font-size: 40px;
    color: black;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    margin: 0 0 20px 0;
}

.regForm input {
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    text-align: center;
    border-radius: 5vh;
    border-color: transparent;
    border-style: solid;
    margin: 10px;
    width: 200px;
    height: 40px;
}

.regForm input:focus {
    background-color: rgba(255, 255, 255, 0.199);
    color: white;
    outline: none;
}

input:focus {
    outline: none;
}

form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 200px;
    width: 250px;
    margin-bottom: -30px;
    text-align: center;
}

.regSpan {
    margin: 15px;
}

button {
    width: 150px;
    height: 30px;
    letter-spacing: 2px;
    font-family: "Bangers", cursive;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-color: transparent;
    font-size: 25px;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
        -2px -2px 0 black;
    letter-spacing: 2px;
}

button:hover {
    color: crimson;
    font-size: 30px;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    cursor: pointer;
}

button:focus {
    background-color: transparent;
    color: white;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
        -2px -2px 0 black;
    border-color: transparent;
    font-size: 30px;
    outline: none;
}

.bubbles {
    background-image: url("bubbles.gif");
    margin-bottom: -180px;
    width: 300px;
    height: 25vh;
}

.bubbles2 {
    background-image: url("bubbles.gif");
    margin-bottom: -220px;
    width: 300px;
    height: 14vh;
}

.error {
    color: crimson;
    margin-top: 35px;
}

.links {
    margin: 5px;
    text-decoration: none;
    color: cyan;
    width: 150px;
    text-align: center;
}

.links:hover {
    color: rgb(85, 142, 196);
}

.findPeople {
    text-decoration: none;
    color: cyan;
    font-size: 25px;
    text-shadow: 0 0 20px black;
}

.logo {
    font-size: 45px;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white, -1px 1px 0 rgb(0, 0, 0), 0 -0 10px rgb(0, 0, 0),
        0 0 10px rgb(0, 0, 0), -0 -0 10px rgb(0, 0, 0);
    background: radial-gradient(
        circle at 50%,
        rgba(0, 255, 34, 0.048),
        rgba(255, 0, 0, 0.116) 70%,
        rgba(0, 0, 0, 0.089) 80%,
        rgba(2, 255, 213, 0) 100%
    );
    padding: 5px;
    border-radius: 40%;
    margin-left: 10px;
    white-space: pre-wrap;
    opacity: 70%;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 1vh;
}

.uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 400px;
    min-height: 450px;
    padding: 25px;
    border-radius: 20px;
    margin-top: 3vh;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    background-image: url("bubbles.gif");
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.329),
        -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
}

.uploader h1 {
    margin-top: 20px;
    margin-bottom: -1px;
}

.uploaderBack {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flexs-start;
    align-items: flex-start;
    align-self: center;
}

.uploaderBack h3 {
    align-self: center;
    font-size: 100px;
    margin: 0;
    color: white;
    text-shadow: -0 0 20px rgba(0, 0, 0, 0.7), 0 -0 20px rgba(0, 0, 0, 0.7),
        -0 -0 20px rgba(0, 0, 0, 0.7), -0 -0 20px rgba(0, 0, 0, 0.7);
    letter-spacing: 5px;
    font-weight: lighter;
}

.fileUploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 30vh;
    letter-spacing: 2px;
    margin: 10px;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    border-radius: 1vh;
    background-color: rgba(17, 243, 73, 0.089);
}

.fileUploader button {
    margin: 10px;
}
.fileUploader input {
    margin: 10px 0 0 10px;
    width: 200px;
    height: 30px;
    color: white;
}
.X {
    align-self: flex-end;
    font-size: 30px;
    cursor: pointer;
    color: white;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.X:hover {
    color: crimson;
}

.uploader-pic {
    width: 300px;
    height: 300px;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 5vh;
    color: white;
    text-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
    border-radius: 3vh;
    padding: 60px;
    margin-top: 5vh;
}

.profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(closest-side, #65d6da13, #e1f8e856, #ffffff00);
    padding: 60px;
    padding-bottom:0;
    border-radius: 3vh;
    margin-top: 5vh;
}

.profile-pic {
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
}

.profile-pic:hover {
    box-shadow: -0 0 10px rgba(255, 255, 255, 0.2),
        0 -0 10px rgba(255, 255, 255, 0.2), -0 -0 10px rgba(173, 173, 173, 0.4),
        -0 -0 10px rgba(255, 255, 255, 0.2);
}

.profile-pic-big {
    width: 400px;
    height: 400px;
    cursor: pointer;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.profile-user-pic {
    width: 340px;
    height: 340px;
    cursor: pointer;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
    border-radius: 1vh;
}

textarea {
    background-color: rgba(255, 255, 255, 0.185);
    outline: none;
    font-size: 20px;
    height: 165px;
    width: 300px;
    resize: none;
    border-color: black;
    border-radius: 1vh;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: -20px;
}

.bio h2 {
    line-height: 1.4;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: -0 0 5px black, 0 -0 5px black, -0 -0 5px black,
        -0 -0 5px black;
    max-width: 30vh;
    max-height: 14vh;
    overflow: hidden;
    letter-spacing: 2px;
    padding: 15px;
    box-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.514);
}

.bio h2:hover {
    overflow-y: visible;
}

.logout {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.logout:hover {
    color: rgb(245, 65, 65);
}

/* ::-webkit-scrollbar {
  width:0;
} */

.test {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: none;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.peopleSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: -0 0 5px black, 0 -0 5px black, -0 -0 5px black,
        -0 -0 5px black;
    letter-spacing: 2px;
    border-radius: 1vh;
}

.peopleSearch2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: -0 0 5px black, 0 -0 5px black, -0 -0 5px black,
        -0 -0 5px black;
    letter-spacing: 2px;
    border-radius: 1vh;
    background-color: transparent;

    margin-bottom: 60px;
    width: 500px;
}

.peopleSearch input {
    background-color: rgba(255, 239, 8, 0.068);
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 5vh;
    border-color: transparent;
    border-style: solid;
    margin-left: 20px;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.peopleSearch h2,
.peopleSearch2 h2 {
    margin: 10px;
    color: rgb(229, 255, 0);
    font-size: 30px;
}

.peopleSearch img,
.peopleSearch2 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    box-shadow: -0 0 5px rgba(255, 255, 255, 0.315),
        0 -0 5px rgba(255, 255, 255, 0.315),
        -0 -0 5px rgba(255, 255, 255, 0.315),
        -0 -0 5px rgba(255, 255, 255, 0.315);
}

.preview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    font-size: 30px;
    height: 100px;
}

.preview img:hover {
    box-shadow: -0 0 5px crimson, 0 -0 5px crimson, -0 -0 5px crimson,
        -0 -0 5px crimson;
}

.results2 {
    height: 70px;
    overflow: hidden;
    padding: 2px;
}

.results {
    height: 100px;
    overflow: hidden;
    margin-top: 25x;
}

.results:hover {
    overflow-y: visible;
}

.find {
    background-image: url("find.jpg");
    background-size: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
}

.find:hover {
    border-radius: 50%;
    box-shadow: -0 0 10px rgba(255, 255, 255, 0.333),
        0 -0 10px rgba(255, 255, 255, 0.333),
        -0 -0 10px rgba(255, 255, 255, 0.333),
        -0 -0 10px rgba(255, 255, 255, 0.333);
}

.friendButt {
    margin-top: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.055);
    color: cyan;
    padding: 5px;
    text-shadow: 0 0 5px black;
    border-radius: 5px;
    cursor: pointer;
}

.friendsBar {
   
    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}

.friendsBar div:hover {
    width: 50px;
    height: 50px;
    box-shadow: -0 0 10px rgba(255, 255, 255, 0.308),
        0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(255, 255, 255, 0.308),
        -0 -0 10px rgba(255, 255, 255, 0.308);
    transition: 0.3s;
}

.friendsBar div {
 background-image: url("friendsc.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    width: 46px;
    height: 46px;
}

.friendTab {
    display: flex;
    flex-direction: row;
    align-self: bottom;
    justify-content: space-around;
    /* background-color: rgba(0, 26, 255, 0.144); */
    /* background-image: url("sharks.gif"); */
    background-size: 30%;
    background-position-y: 90%;
    background-position-x: 52%;

    background-repeat: no-repeat;
    border-radius: 1vh;
    box-shadow: inset 0 0 0 100vh rgba(255, 0, 0, 0.164),
        -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    text-align: center;
    height: 75vh;
    margin: 50px;
    padding-bottom: 40px;
}

.friendTab h1 {
    font-size: 60px;
    color: rgb(51, 255, 0);
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(255, 0, 0, 0.041),
        -0 -0 5px rgba(255, 0, 0, 0.062), -0 -0 5px rgba(0, 0, 0, 0.7);
    margin: 50px;
}

.trueFriends,
.pendingFriends,
.wannabes {
    border-radius: 50%;
    margin: 20px;
    background: radial-gradient(closest-side, #65d6da13, #3ab86028, #ffffff00);
    background-color: rgba(83, 71, 255, 0.164);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 140px;
}

.buttons button {
    color: yellow;
}

.buttons button:hover {
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.friendsCards {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-height: 44vh;
    overflow: hidden;
}

.friendsCardsBack {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-start;
}

.friendsCardsBack span {
    color: white;
    font-size: 40px;
}

.friendsCards:hover {
    overflow-y: visible;
}

.friendsCards P {
    color: cyan;
    font-size: 30px;
    margin: 0;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.trueFriends img,
.pendingFriends img,
.wannabes img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 7px;
    padding: 5px;
    box-shadow: -0 0 5px rgba(0, 255, 0, 0.3), 0 -0 5px rgba(0, 255, 0, 0.3),
        -0 -0 5px rgba(0, 255, 0, 0.3), -0 -0 5px rgba(0, 255, 0, 0.3);
}

.wannabes img {
    box-shadow: -0 0 5px rgba(238, 255, 0, 0.3), 0 -0 5px rgba(238, 255, 0, 0.3),
        -0 -0 5px rgba(238, 255, 0, 0.3), -0 -0 5px rgba(238, 255, 0, 0.3);
}

.pendingFriends img {
    box-shadow: -0 0 5px rgba(220, 20, 60, 0.2), 0 -0 5px rgba(220, 20, 60, 0.2),
        -0 -0 5px rgba(220, 20, 60, 0.2), -0 -0 5px rgba(220, 20, 60, 0.2);
}


.chatBar {
    background-image: url("chat1.jpg");
    background-position: center;
    background-size: cover;
    width:35px;
    height:35px;
    border-radius:50%;
    box-shadow: -0 0 5px rgba(255, 255, 255, 0.4), 0 -0 5px rgba(255, 255, 255, 0.4),
        -0 -0 5px rgba(255, 255, 255, 0.4), -0 -0 5px rgba(255, 255, 255, 0.4);
    margin-right:20px;
}

.chatBar:hover {
    width:50px;
    height: 50px;
    transition:1s;

}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.chatContainer h1 {
     font-size: 80px;
    color: black;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    margin: 0 0 20px 0;
}

.chatScreen {
    width:60vh;
    height:50vh;
    background-color: rgba(255, 255, 255, 0.11);
    overflow-y:auto;
    color: yellowgreen;
    box-shadow: inset 0 0 0 100vh rgba(255, 0, 0, 0.164),
        -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    
}



.chatTypeLine {
    margin-top: 20px;
    width:60vh;
    height:25px;
    box-shadow: inset 0 0 0 100vh rgba(43, 255, 0, 0.103),
        -0 0 5px rgba(209, 255, 4, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);

}