body {
    box-sizing: border-box;
    background-image: url("welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    margin:0;
}

.welcome {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 250px;
    margin: 0 0 80px 0;
    text-shadow: -2px 2px 0 white, 2px -2px 0 white, 2px 2px 0 white,
        -2px -2px 0 white;
}

.welcome span {
    font-size: 80px;
    color:white;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
        -2px -2px 0 black;
    margin: -30px;
}

.regForm {
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
        -1px -1px 0 black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
    margin:auto;
    padding:10px;
    width:300px;
    border-radius:20px;
}


.regForm h1 {
    font-size: 40px;
     color: black;
     text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
        margin: 0 0 20px 0;
}

.regForm input {
    background-color: rgba(0, 0, 0, 0.219);
    color:white;
    text-align: center;
    border-radius: 5vh;
    border-color: transparent;
    border-style: solid;
    margin:10px;
    width: 200px;
    height:40px;  
}

.regForm input:focus {
    background-color: rgba(255, 255, 255, 0.199);
    color:white;
    outline: none;
}

button {
    width: 100px;
    height:50px;
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border-color:transparent;
    font-size: 25px;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
        -2px -2px 0 black;
    letter-spacing: 2px;
}

button:hover {
    color:crimson   ;
    font-size: 30px;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    cursor: pointer;
}

button:focus {
    background-color: transparent;
    color:white;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
        -2px -2px 0 black;
    border-color: transparent;
    font-size: 30px;
    outline: none;
}

.bubbles {
    background-image: url("bubbles.gif");
    margin-bottom: -180px;
    width:500px;
    height:25vh;
}

.error {
    color: crimson;
    margin-top:35px;
}

.links {
    margin:5px;
    text-decoration: none;
    color:cyan;
    width:150px;
    text-align:center;

}

.links:hover {
    color:rgb(85, 142, 196);
}

.logo {

     font-size: 60px;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;    
}

.logoBack {
    background-image: url("bubbles.gif");
    height:55px;
    background-size:contain;  
}

.profile-pic {
    margin:10px;
    border-radius: 50%;
    width:50px;
    height:50px;
    cursor: pointer; 
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
}

.profile-pic-big {
    width:300px;
    height:300px;
    cursor: pointer; 
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
        border-radius:5vh;

}

.appContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:10px;
}

.appBar {
    display:flex;
     flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.uploader {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:400px;
    height:400px;
    background-color: transparent;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
    border-radius:20px;
    margin-top:10vh;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
}

.X {
  align-self:flex-end;
  font-size: 30px;
  margin-right:20px;
  cursor: pointer;
  color:white;
  text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.X:hover {
  color: crimson;
}

.uploader-pic {
    width:200px;
    height:200px;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
}

.profile {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: transparent;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.7), 0 -0 10px rgba(0, 0, 0, 0.7),
        -0 -0 10px rgba(0, 0, 0, 0.7), -0 -0 10px rgba(0, 0, 0, 0.7);
        margin-top:10vh;
}

textarea {
    width:300px;
    height:300px;
}